
/* Class-definitions */

.nbrcol01{
    font-weight: bold;
    vertical-align: top;
    text-align: left;
}

.txtcol01{
    width: 800px;
}

.radiobtn{
    width:50px;
    alignment: center;
}

.chkcount{
    width: 50px;
}

.divider{
    width: 40px;
    /*position: relative;
    right: 50%;
    top:10%;
    bottom:10%;
    border-left:1px solid black;*/
}

.chktimeo{
    width: 70px;
}


/* ID-definitions */

#sensidfield{
    width: 400px;
}

#filefield{
    width: 100%;
}

#sensors {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
}

#sensors td, #sensors th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#sensors tr:nth-child(even){background-color: #f2f2f2}

#sensors tr:hover {background-color: #ddd;}

#sensors th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}

#buttonstart{
    width: 80%;
    aling: left;
}

